.cont {
    padding: 10px;
    width: 350px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.mat-raised-button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    
}

.body {
    background-color: black;
}

.mat-h2, .mat-title, .mat-typography h2 {
    margin: 0 0 0px !important;
    padding-right: 10px !important;
}

.statHeader {
    color: white;
    font-weight: bold;
    /* font-size: smaller; */
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    justify-content: center;
}

.modal {
    top:20% !important;
 }  

 #footer {
    position: absolute;
    bottom: 15px;
    width: 100%;
}

hr.solid {
    border-top: 2px solid white;
    opacity: 1;
  }

hr {
    margin-top: 7px;
    margin-bottom: 7px;
}

.alert div {
    background-color: #fed3d3;
    color: #820000;
    padding: 1rem;
  }

  .alert {
    position: relative;
    padding: 5px 5px;
    margin-bottom: 0px;
    border: 0px solid transparent;
    border-radius: .25rem;
}



/* CSS to change 'Primary' color */

::ng-deep .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #022413;
}

::ng-deep .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgb(2, 36, 19,.54);
}

/* CSS to change 'Warn' color */

::ng-deep .mat-slide-toggle.mat-warn.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: red;
}

::ng-deep .mat-slide-toggle.mat-warn.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #ffe066;
}

